<footer>
        <p id="primeiro-footer">Desenvolvido por Denis Quintas Luiz &copy; 2022</p>
        <p id="segundo-footer">Feito com NodeJs, ExpressJs, Express-Handlebars, body-parser, Sequelize e Sqlite3</p>
        <div id="footer-links">
          <a class="footers" href="" target="_blank" type="external" class="links"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a class="footers" href="" target="_blank" type="external" class="links"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a class="footers" href="" target="_blank" type="external" class="links"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
    </footer>