<nav>
        <ul>
            <li id="logo-marca" target="_self">
                <a href="/">Salos.stp</a></li>
            <li id="vaga" target="_blank" type="external">
                <a href="/vagas/add">criar vaga</a></li>
            <li id="sobre" traget="_blank" type="external">
                <a href="/vagas/sobre">sobre</a></li>
        </ul>   
    </nav>