<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salos.stp</title>
    <link rel="stylesheet" href="/style.css">
    <script
      src="https://kit.fontawesome.com/836a943e18.js"
      crossorigin="anonymous"
    ></script>
</head>
    <!--Nav Bar-->
    <nav>
        <ul>
            <li id="logo-marca" target="_self">
                <a href="/">Salos.stp</a></li>
            <li id="vaga" target="_blank" type="external">
                <a href="/vagas/add">criar vaga</a></li>
            <li id="sobre" traget="_blank" type="external">
                <a href="/vagas/sobre">sobre</a></li>
        </ul>   
    </nav>

    <!--Define o HTML do corpo da Aplicação -->
    {{{body}}}
   
    <footer>
        <p id="primeiro-footer">Desenvolvido por Denis Quintas Luiz &copy; 2022</p>
        <p id="segundo-footer">Feito com NodeJs, ExpressJs, Express-Handlebars, body-parser, Sequelize e Sqlite3</p>
        <div id="footer-links">
          <a class="footers" href="" target="_blank" type="external" class="links"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a class="footers" href="" target="_blank" type="external" class="links"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a class="footers" href="" target="_blank" type="external" class="links"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
    </footer>