<div id="sobre-container">
    <a href="/">voltar</a>
    <h1>Salos.stp</h1>
    <p>Nós, somos uma plataforma especializada na divulgação de vagas de emprego em São Tomé e Príncipe, onde as empresas contratantes disponibilizam as vagas de emprego e os profissionais interessados entram em contacto com as empresas contratantes via E-mail.</p>
    <p>Para caso de perguntas e negócio, entre em contato comnosco:</p>
    <span id="itens-contatos">
       <a href="http://www.facebook.com/malefico-sn"><i class="fa fa-facebook"></i>Facebook</a>
       <a href="mail:todennysluizquintas991@hotmail.com"><i class="fa fa-envelop"></i>dennysluizquintas991@hotmail.com</a>
       <a href="http://www.instagram/malefico-sn"><i class="fa fa-instagram"></i>Instagram</a>
    </span>
</div>